<?xml version='1.0' encoding='utf-8'?>
 <!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 2.0//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-2.0.dtd">

<hibernate-configuration>

    <session-factory>

<!--
        <property name="connection.url">jdbc:hsqldb:database/toolset.db</property>
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.username">SA</property>
        <property name="connection.password"></property>
        <property name="show_sql">true</property>
        <property name="dialect">net.sf.hibernate.dialect.HSQLDialect</property>
-->
<!--
        <property name="connection.url">jdbc:postgresql://localhost:5432/opennms</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">opennms</property>
        <property name="connection.password"></property>
        <property name="show_sql">true</property>
        <property name="dialect">net.sf.hibernate.dialect.PostgreSQLDialect</property>
-->
<!--
        <property name="connection.url">jdbc:mysql://localhost/tiki</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">tikiuser</property>
        <property name="connection.password">tikipassword</property>
        <property name="show_sql">true</property>
        <property name="dialect">net.sf.hibernate.dialect.MySQLDialect</property>
-->
        <mapping resource="org/opennms/web/assets/Agent.hbm.xml" />
        <mapping resource="org/opennms/web/assets/Asset.hbm.xml" />
        <mapping resource="org/opennms/web/assets/AssetCategory.hbm.xml" />    
        <mapping resource="org/opennms/web/assets/Distpoller.hbm.xml" />
        <mapping resource="org/opennms/web/assets/Event.hbm.xml" />
        <mapping resource="org/opennms/web/assets/Ifservic.hbm.xml" />
        <mapping resource="org/opennms/web/assets/Ipinterface.hbm.xml" />
        <mapping resource="org/opennms/web/assets/Manufacturer.hbm.xml" />
        <mapping resource="org/opennms/web/assets/Node.hbm.xml" />
        <mapping resource="org/opennms/web/assets/Notification.hbm.xml" />
        <mapping resource="org/opennms/web/assets/OperatingSystem.hbm.xml" />
        <mapping resource="org/opennms/web/assets/Outag.hbm.xml" />
        <mapping resource="org/opennms/web/assets/Servermap.hbm.xml" />
        <mapping resource="org/opennms/web/assets/Service.hbm.xml" />
        <mapping resource="org/opennms/web/assets/Servicemap.hbm.xml" />
        <mapping resource="org/opennms/web/assets/Snmpinterface.hbm.xml" />
        <mapping resource="org/opennms/web/assets/Usersnotified.hbm.xml" />
        <mapping resource="org/opennms/web/assets/Vendor.hbm.xml" />
        <mapping resource="org/opennms/web/assets/Vulnerability.hbm.xml" />
        <mapping resource="org/opennms/web/assets/Vulnplugin.hbm.xml" />


    </session-factory>

</hibernate-configuration>
